.grid {
	display: grid;
}

.grid-template-columns-3 {
	grid-template-columns: 1fr 1fr 2fr 0.8fr;
}

/* Estilos Gerais */
.item {
	margin: 1px;
	text-align: left;
	font-size: 0.7em;
	border: 1px solid #ccc;
}

.item2 {
	margin: 1px;
	text-align: center;
	font-size: 0.8em;
	border: 1px solid #ccc

}

.grid {
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
}

h1 {
	text-align: center;
	font-size: 2em;
	font-weight: normal;
	font-family: monospace;
}

@media screen and(max-width: 500px){
	.grid {
	max-width: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
	}
}

    .navegation {
		font-size: 10px;

}



