
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %} Tilter {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tilter - Projeto de uma rede social e implementação Python">
    <meta name="keywords" content="Tilter - Rede social baseada em cards">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/person.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

  <body>



  <div>
      <div class="navbar navbar-inverse navbar-static-top">
          <div class="container-fluid">

              <!-- Menu hamburger Inicio -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu" aria-expanded="false">

                      <span class="sr-only">Navegacao</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>

                  </button>

                  <!-- Título Direita do menu-->
                  <!--<a class="navbar-brand" href="#" target="_blank">NewBiSoft</a>-->

              </div>
              <!-- Menu hamburger Fim -->

              <div class="collapse navbar-collapse" id="menu">

                  <ul class="navbar-nav list-unstyled">
                      <li role="presentation" class="navbar-brand">
                          <a href="home">Home</a>
                      </li>
                      <li role="presentation" class="navbar-brand">
                          <a href="/about">About</a>
                      </li>
                      {% if current_user.is_authenticated %}
                      <li role="presentation" class="navbar-brand">
                          <a href="{{ url_for('logout')}}">Logout</a>
                      </li>
                      {% else %}
                      <li role="presentation" class="navbar-brand">
                          <a href="{{ url_for('login')}}">Login</a>
                      </li>
                      {% endif %}
                  </ul>
                  <!-- Links Fim -->

                  <!-- Caixa de Pesquisa Inicio -->
                  <div class="navbar-right">

                      <!-- Formulario caixa pesquisa Inicio -->
                      <form class="navbar-form" role="search" method="get" action="#">

                          <div class="input-group">

                              <input type="text" class="form-control" placeholder="Digite sua pesquisa..." name="Filtro" id="Filtro">

                              <!-- Display icone Lupa -->
                              <div class="input-group-btn">
                                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                              </div>

                          </div>

                      </form>
                      <!-- Formulario caixa pesquisa Fim -->

                  </div>
                  <!-- Caixa de Pesquisa Fim -->
                  {% if current_user.is_authenticated %}
                  <!-- Links Inicio -->
                  <ul class="navbar-right nav navbar-nav">

                      <!-- Menu dropdown Inicio -->
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configurações<b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="{{ url_for('config')}}">Configurações Gerais</a> </li>
                              <li class="dropdown2">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown2">Usuarios<b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('create') }}">Cadastrar</a></li>
                                    <li><a href="{{ url_for('usuarios') }}"></a>Visualizar</li>
                                  </ul>
                              </li>
                              <li class="divider"></li>
                              <li><a href="#">Sub-Link 3</a> </li>
                              <li><a href="#">Sub-Link 4</a> </li>
                          </ul>
                      </li>
                      <!-- Menu dropdown Fim -->
                  </ul>
                    {% endif %}
              </div>
          </div>
      </div>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-success">
          <ul class=flashes>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
      </div>
      {% endif %}
      {% endwith %}


  </div> <!-- /container -->
  {% block  content %}
  {% endblock %}
  </body>
</html>
