{% extends 'base.html' %}

{% block content %}
<section>
<nav class="navbar navbar-default" id="usuarios">
  <div class="container-fluid">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="bg-transparent "><a href="{{ url_for('create') }}">Criar</a></li>
            <li class="bg-transparent navegation"><a href="">teste</a></li>
        </ul>
    </div>
  </div>
</nav>
</section>

<section>
<div id="main">
<h1>Usuários</h1>
    <section class="grid grid-template-columns-3">
        <div class="item2 bg-info">Usuario</div>
        <div class="item2 bg-info">Nome</div>
        <div class="item2 bg-info">E-mail</div>
        <div class="item2 bg-info">Editar</div>
        {% for i in usuario %}
            <div class="item">
            {{ i.username }}
            </div>
        <div class="item">
        {{ i.name }}
        </div>
        <div class="item">
        {{ i.email }}
        </div>
        <button class="item btn-primary">Editar</button>
        {% endfor %}
    </section>
</div>
</section>


{% endblock %}
