{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="col-md-6 offset-md-4">
    <h2>Cadastro de usuário</h2>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            <label>Usuario</label>
                {{ form.username(class="form-control", placeholder="nome_da_conta") }}
            {% if form.errors.username %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.username %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label>Senha</label>
            {{ form.password(class="form-control", placeholder="min. 8 caracteres")}}
            {% if form.errors.password %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.password %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label>Nome</label>
                {{ form.name(class="form-control", placeholder="nome_do_usuário") }}
            {% if form.errors.username %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.name %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label>Email</label>
                {{ form.email(class="form-control", placeholder="digite_um_email_válido") }}
            {% if form.errors.email %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.email %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label>Endereço</label>
                {{ form.address(class="form-control", placeholder="endereço_completo") }}
            {% if form.errors.address %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.address %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label>Telefone</label>
                {{ form.phone(class="form-control", placeholder="telefone_contato") }}
            {% if form.errors.phone %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.phone %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
           <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endif %}

{% endblock %}
