{% extends 'base.html' %}

{% block title %}{{ super() }} - Index{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Jumbotron heading</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
              <h2>Subheading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

              <h2>Subheading</h2>
              <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

              <h2>Subheading</h2>
              <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>

                <div class="col-lg-6">
                  <h2>Subheading</h2>
                  <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                  <h2>Subheading</h2>
                  <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

                  <h2>Subheading</h2>
                  <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                </div>
            </div>
        </div>


{% endblock %}