{% extends 'base.html' %}

{% block content %}

<div class="col-centered col-md-4 offset-md-4">
    <h2>Login</h2>
    <form  action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            <label>Usuario</label>
                {{ form.username(class="form-control", placeholder="Digite seu usuário")}}
            {% if form.errors.username %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.username %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label>Senha</label>
            {{ form.password(class="form-control")}}
            {% if form.errors.password %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.password %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label class="custom-control-label" for="defaultUnchecked">Remember me</label>
        </div>
           <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}