{% extends 'base.html' %}

{% block content %}

<div id="main">
<h1>Usuários</h1>
<section class="grid grid-template-columns-3">
	<div class="item2 bg-info">Usuario</div>
	<div class="item2 bg-info">Nome</div>
	<div class="item2 bg-info">E-mail</div>
	<div class="item2 bg-info">Editar</div>
	{% for i in usuario %}
		<div class="item">
		{{ i.username }}
		</div>
	<div class="item">
	{{ i.name }}
	</div>
	<div class="item">
	{{ i.email }}
	</div>
	<button class="item btn-primary">Editar</button>
	{% endfor %}
</section>
</div>

{% endblock %}
